.choice-box .label {
    -fx-font-size: 16;
}

.choice-box .context-menu {
    -fx-pref-width: 170;
}

.text-field {
    -fx-font-size: 15;
}

.table-view {
    -fx-font-size: 16;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.date-picker {
    -fx-font: 17px 'Calibri';
}